{% include 'parts/_nav.html' %}

<div class="container">

    <div class="row mt-5">
        <div class="col text-center">
            <h1>- Geolocate on Localisator-</h1>
                <div class="geolocate_page_text">
            <p style="font-weight: bold">Please enter an address following the model bellow :</p>
            <p> NUMBER STREET P.O BOX/CODE POSTAL City
                <br> Example : 5 rue du Général Fauconnet 21000 Dijon</p>
                </div>
        </div>
    </div>


</div>

{% include 'parts/_footer.html' %}