{% include 'parts/_nav.html' %}

<div class="container">

    <div class="row mt-5">
        <div class="col text-center">
            <h1>- Welcome to the Localisator -</h1>
            <p>Click on the small earth to geolocate an address.</p>
        </div>
    </div>

       <div class="row mt-3">
        <div class="col text-center">
            <img src="../static/img/earth.png" href="{{ url_for('geolocate_page') }}" style="width: 35%">
        </div>
    </div>

</div>

{% include 'parts/_footer.html' %}